* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.urna {
    width: 550px;
    height: 500px;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px rgb(212, 212, 212);
}

.tela {
    width: 380px;
    height: 250px;
    margin: 5px 0 35px 0;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 30px solid black;
    border-right: 30px solid black;
    background: linear-gradient(to right, #1d1d1d, #2e2e2e);
}

.teclado {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.teclado--selo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 130px;
    margin: 0 15px 5px 0;
}

.img-tribunal {
    width: 125px;
    height: 55px;
    -webkit-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}

.nome-urna {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    color: rgb(160, 160, 160);
    -webkit-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}

.teclado--selo div:nth-child(1){
    height: 55px;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 5px;
    margin-bottom: 5px;
}

.teclado--selo div:nth-child(2){
    height: 30px;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.teclado--linha {
    display: flex;
    justify-content: center;
}

.teclado--botao-numero {
    background-color: #403A3A;
    width: 40px;
    height: 30px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 4px 4px #2e2a2a;
    cursor: pointer;
    -webkit-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;
}

.teclado--botao-numero:active {
    position: relative;
    top: 4px;
    left: 4px;
    background-color: #2e2a2a;
    box-shadow: inset 3px 3px rgb(160, 160, 160);
}

.teclado--botao-numero:active p {
    padding-left: 10px;
}

.teclado--botao-numero p {
    color: white;
    padding: 5px 0 0 5px;
    font-weight: 700;
    font-size: 13px;
}

.teclado--opcao {
    width: 70px;
    margin: 4px 95px 0 4px;
}

.teclado--botao-opcao:nth-child(1){
    background-color: white;
    box-shadow: 4px 4px rgb(212, 212, 212);
}

.teclado--botao-opcao:nth-child(2){
    background-color: red;
    box-shadow: 4px 4px rgb(214, 0, 0);
}

.teclado--botao-opcao:nth-child(3){
    background-color: rgb(23, 158, 23);
    box-shadow: 4px 4px rgb(1, 105, 1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teclado--botao-opcao:active {
    position: relative;
    top: 4px;
    left: 4px;
    box-shadow: none;
    box-shadow: inset 3px 3px rgb(160, 160, 160);
}

.teclado--botao-opcao:active p {
    padding-top: 4px;
}

.teclado--botao-opcao {
    height: 30px;
    margin-bottom: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.teclado--botao-opcao p {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    -webkit-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}

.teclado--botao-opcao:nth-child(3) p{
    font-size: 12px;
    transform:scale(1,2.5);
    position: relative;
    bottom: 10px;
}